
bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
PhoneBookHttpTriggerJS/debugcmd.txt
PhoneBookHttpTriggerJS/lspgateway.ini
conf/config.js
azure-functions-core-tools/.telemetry/
sample.dat
PhoneBookHttpTriggerJS/sample.dat
2020*.json
